<div class="container <%= controller_name%>_<%= action_name %>">

		<div class="row">
		<!-- the whole page, other than nav and footer, is broken up into boostrap columns -->
			<main class="col-md-8 col-sm-12">
				<!-- blog articles will go in this section -->
				<!-- below is temporary hard coding of blog article -->
				<div class="article-show">
					<h2>Why A Green Business Still Prints Paper Catalogs</h2>
					<p class="text-right small article-date">August 2016</p>
					<%= render "pages/text_for_article_1" %>
				</div>

				<!-- end temporary hard coding of articles -->
			
				<% @articles.each do |a| %>
					<% if @articles.count >= 2 %>
						<div class="article-preview">
							<h2><%= a.title %></h2>
							<p class="article-date text-right small"><%= a.date %></p>
								<section class="article-body-preview">
									 <%= truncate(a.body_text.html_safe, length: 300) %>
								</section>
						</div><!-- end article preview -->
						<% elsif @articles.count == 1 %>
							<section class="article-show">
								<h2><%= a.title %></h2>
								<p class="text-right small"><%= a.date %></p>
							
								<%= a.body_text.html_safe %>
							</section>
						<% end %>
				<% end %><!-- end each articles ruby block -->
			
			
				<%= render 'layouts/articles' %>

			</main><!-- end blog article content area, col-md-8 -->
			<div class="col-md-4 col-sm-12">
				
				<%= render "layouts/aside" %>

			</div><!-- end col-md-4 for all asides-->
		</div><!-- end main page row div -->
	</div><!-- end container -->