<div class="container <%= controller_name%>_<%= action_name %>">

	<h1>All Articles</h1>


		<div class="row">
		<!-- the whole page, other than nav and footer, is broken up into boostrap columns -->
			<main class="col-md-8 col-sm-12">
				<!-- blog articles will go in this section -->
				
				<hr>
				
				<% @articles.each do |a| %>
					<div class="article-preview">
					
						<h2><%= a.title %></h2>
						<p class="text-right small"><%= a.date %></p>
						<section class="article-body-preview">
							 <%= truncate(a.body_text.html_safe, length: 40) %>
						</section>
				
					</div>
				<% end %>
				<hr>
				<<<<<< Begin test articles section >>>>>>
				<%= render 'layouts/articles' %>


			</main><!-- end blog article content area, col-md-8 -->
			<div class="col-md-4 col-sm-12">
				
				<%= render "layouts/aside" %>

			</div><!-- end col-md-4 for all asides-->
		</div><!-- end main page row div -->
	</div><!-- end container -->